<!--template/breaktestlist.html-->
<!DOCTYPE html>
{% extends "wwdb/base.html" %}


{% block content %}
<h2>Wire Types</h2>
</br>
<button id="wireropedataadd" class="btn btn-secondary btn-sm">Add wire type</button>
</br>
</br>
<table id="table" class="display nowrap" style="width:100%">
    <thead>
        <tr>
            <th>Edit</th>
            <th>Name</th>
            <th>Manufacturer</th>
            <th>Manufacturer part number</th>
            <th>Cable type</th>
            <th>Nominal breaking load</th>
            <th>Weight per foot</th>
            <th>Delete</th>
        </tr>
    </thead>
    {% for wire in wireropes %}
    <tr>
        <td>
            <a href="{% url 'wireropedataedit' wire.pk %}" class="btn btn-primary btn-sm">Edit</a>
        </td>
        <td>{{wire.name}}</td>
        <td>{{wire.manufacturer}}</td>
        <td>{{wire.manufacturerpartnumber}}</td>
        <td>{{wire.cabletype}}</td>
        <td>{{wire.nominalbreakingload}}</td>
        <td>{{wire.weightperfoot}}</td>
        <td>
            <button class="btn btn-danger btn-sm" onclick="showDeleteAlert(event, '{{ wire.pk }}')">Delete</button>
        </td>
    </tr>
    {% endfor %}
</table>
<script>
    $(document).ready(function () {
        // Initialize DataTables
        $('#table').DataTable({
            responsive: true,
            scrollX: true,
            order: [[1, "desc"]]
            // Add more options as needed
        });

        // Initialize tooltips (assuming you're using Bootstrap tooltips)
        $('[data-toggle="tooltip"]').tooltip();
    });

    // Function to show alert for delete button
    function showDeleteAlert(event) {
        event.preventDefault(); // Prevent the default action (if needed)
        alert("The delete function has been disabled in the demo version. In production version user permissions determine who can delete database entries.");
    }

    $(document).ready(function () {
        $('#wireropedataadd').click(function () {
            window.location.href = "{% url 'wireropedataadd' %}";
        });
    });

    $(document).ready(function () {
        $('#wireropedatalist').click(function () {
            window.location.href = "{% url 'wireropedatalist' %}";
        });
    });
</script>
<br>
<br>

{% endblock %}
